<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>特别关心</key>
			<array>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>xiaoa</string>
					<key>name</key>
					<string>小A</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>常用群聊</key>
			<array/>
		</dict>
	</array>
	<array>
		<dict>
			<key>我的好友</key>
			<array>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>dongda</string>
					<key>name</key>
					<string>董大</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<true/>
					<key>headerImage</key>
					<string>toxic</string>
					<key>name</key>
					<string>Toxic</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>xiaohui</string>
					<key>name</key>
					<string>小慧</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>xiaoa</string>
					<key>name</key>
					<string>小A</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<true/>
					<key>headerImage</key>
					<string>frank</string>
					<key>name</key>
					<string>frank</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>hehege</string>
					<key>name</key>
					<string>呵呵哥</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<true/>
					<key>headerImage</key>
					<string>xiaowang</string>
					<key>name</key>
					<string>小王</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<true/>
					<key>headerImage</key>
					<string>lisi</string>
					<key>name</key>
					<string>李四</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>zhangsan</string>
					<key>name</key>
					<string>张三</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>大学同学</key>
			<array>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>zhangsan</string>
					<key>name</key>
					<string>张三</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<true/>
					<key>headerImage</key>
					<string>frank</string>
					<key>name</key>
					<string>frank</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>xiaohui</string>
					<key>name</key>
					<string>小慧</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<true/>
					<key>headerImage</key>
					<string>toxic</string>
					<key>name</key>
					<string>Toxic</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>家人</key>
			<array>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>dongda</string>
					<key>name</key>
					<string>董大</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>xiaoa</string>
					<key>name</key>
					<string>小A</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>朋友</key>
			<array>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>xiaohui</string>
					<key>name</key>
					<string>小慧</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<true/>
					<key>headerImage</key>
					<string>zhangsan</string>
					<key>name</key>
					<string>张三</string>
				</dict>
				<dict>
					<key>isOnline</key>
					<false/>
					<key>headerImage</key>
					<string>hehege</string>
					<key>name</key>
					<string>呵呵哥</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>手机通讯录</key>
			<array/>
		</dict>
		<dict>
			<key>我的设备</key>
			<array/>
		</dict>
	</array>
</array>
</plist>
